@import _variables

@import xs/navigation

body
  color: $secondary

#page-body
  min-height: 85vh

.page-segment
  padding: 20px 0

.social-icon-link
  display: inline-block
  width: 30px
  height: 30px
  margin-right: 10px

  svg
    fill: $secondary

    &:hover
      fill: $primary

#page-footer
  background-color: $secondary
  color: #ffffff
  font-size: 0.8rem
  padding-top: 20px
  padding-bottom: 20px

  a
    color: #ffffff
    text-decoration: none

    &:hover
      color: #ffffff
      text-decoration: underline